<div class="row justify-content-center mt-4">
  <div class="col-5">
    <div class="card">
      <div class="card-header">
        Consulta
      </div>
      <div class="card-body">
        <h1 class="card-title">Realizar Consulta</h1>
        <p class="card-text">Inserta un archivo .CSV para realizar la consulta. </p>
        <form action="">
          <div class="input-group">
            <input type="file" class="form-control" id="csv_file" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-primary" type="button" id="inputGroupFileAddon04">Consultar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



